# Default ignored files
/../../TwoGoodCo./.idea/shelf/
/../../TwoGoodCo./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../TwoGoodCo./.idea/httpRequests/
# Datasource local storage ignored files
/../../TwoGoodCo./.idea/dataSources/
/../../TwoGoodCo./.idea/dataSources.local.xml
